<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[下雨]</key>
	<string>49.png</string>
	<key>[亲亲]</key>
	<string>44.png</string>
	<key>[亲嘴]</key>
	<string>43.png</string>
	<key>[出击]</key>
	<string>3.png</string>
	<key>[剪刀]</key>
	<string>7.png</string>
	<key>[发怒]</key>
	<string>42.png</string>
	<key>[口红]</key>
	<string>18.png</string>
	<key>[口罩]</key>
	<string>32.png</string>
	<key>[可爱]</key>
	<string>40.png</string>
	<key>[吐舌头]</key>
	<string>29.png</string>
	<key>[向上]</key>
	<string>11.png</string>
	<key>[向下]</key>
	<string>12.png</string>
	<key>[向右]</key>
	<string>14.png</string>
	<key>[向左]</key>
	<string>13.png</string>
	<key>[哀愁]</key>
	<string>23.png</string>
	<key>[哭泣]</key>
	<string>37.png</string>
	<key>[啤酒]</key>
	<string>16.png</string>
	<key>[喜欢]</key>
	<string>56.png</string>
	<key>[嘴唇]</key>
	<string>10.png</string>
	<key>[大哭]</key>
	<string>38.png</string>
	<key>[大拇指]</key>
	<string>4.png</string>
	<key>[大笑]</key>
	<string>41.png</string>
	<key>[太阳]</key>
	<string>48.png</string>
	<key>[崩溃]</key>
	<string>27.png</string>
	<key>[开口笑]</key>
	<string>52.png</string>
	<key>[微笑]</key>
	<string>22.png</string>
	<key>[心碎]</key>
	<string>20.png</string>
	<key>[忧愁]</key>
	<string>53.png</string>
	<key>[恩爱]</key>
	<string>1.png</string>
	<key>[惊讶]</key>
	<string>31.png</string>
	<key>[手掌]</key>
	<string>9.png</string>
	<key>[手臂]</key>
	<string>8.png</string>
	<key>[拳头]</key>
	<string>6.png</string>
	<key>[月亮]</key>
	<string>50.png</string>
	<key>[流汗]</key>
	<string>58.png</string>
	<key>[流泪]</key>
	<string>39.png</string>
	<key>[滴汗]</key>
	<string>35.png</string>
	<key>[爱心]</key>
	<string>19.png</string>
	<key>[玫瑰花]</key>
	<string>46.png</string>
	<key>[生气]</key>
	<string>54.png</string>
	<key>[白云]</key>
	<string>47.png</string>
	<key>[看见]</key>
	<string>45.png</string>
	<key>[眨眼]</key>
	<string>25.png</string>
	<key>[眯眼]</key>
	<string>30.png</string>
	<key>[睡觉]</key>
	<string>28.png</string>
	<key>[瞎眼]</key>
	<string>36.png</string>
	<key>[瞪眼]</key>
	<string>33.png</string>
	<key>[礼物]</key>
	<string>17.png</string>
	<key>[苦涩]</key>
	<string>26.png</string>
	<key>[见鬼]</key>
	<string>57.png</string>
	<key>[调皮]</key>
	<string>55.png</string>
	<key>[鄙视]</key>
	<string>34.png</string>
	<key>[露齿笑]</key>
	<string>24.png</string>
	<key>[食指]</key>
	<string>5.png</string>
	<key>[鲜花]</key>
	<string>15.png</string>
	<key>[精华]</key>
	<string>community_topic_icon_jing.png</string>
	<key>[图片]</key>
	<string>community_topic_icon_pic.png</string>
	<key>[热门]</key>
	<string>community_topic_icon_hot.png</string>
	<key>[置顶]</key>
	<string>community_topic_icon_ding.png</string>
	<key>[目的地]</key>
	<string>lp_taoxi_mudidi_icon</string>
	<key>[酒店]</key>
	<string>lp_taoxi_jiudian_icon</string>
	<key>[机票]</key>
	<string>lp_taoxi_jipiao_icon</string>
	<key>[测试]</key>
	<string>lp_detail_smallicon_zaoxing</string>
</dict>
</plist>
